.Weather {
  font-family: "Poppins", sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: #38598b;
  background: #e7ecf6c9;
}

.Weather h1 {
  font-size: 32px;
  font-weight: 600;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  list-style: none;
  color: #38598b;
}

.Weather .temperature {
  font-weight: bold;
  color: #38598b;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 500;
  margin-left: 10px;
}

.Weather canvas {
  margin: 5px auto;
}

.Weather .unit {
  color: #38598b;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather .unit a {
  color: #949494;
}

.Weather strong {
  font-weight: 700;
}
