.WeatherForecast {
  text-align: center;
  font-size: 12px;
}

.WeatherForecast-day {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0 5px 0;
}

.Weather-temp-max {
  font-weight: 600;
}

.Weather-temp-min {
  opacity: 0.5;
  font-weight: 600;
  margin-left: 5px;
}
